* {
    font-family: "basic-sans", sans-serif;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    list-style: disc;
    /*ONLY USE IF USING DARK MODE color: white; */
    /* background-color: white; */
    outline: none;
    color: black;
    -webkit-font-smoothing: antialiased;
    line-height: 100%;
}

/* Text styles */

body {
    max-width: 1200px;
    margin: 48px auto 0 auto !important;
    padding: 0 24px;
    overflow-x: hidden;
    background-color: #F2E9E6 !important;

    /* Kerning Fix */
    -moz-font-feature-settings: "liga", "kern";
    -moz-font-feature-settings:"liga=1, kern=1";
    -ms-font-feature-settings:"liga", "kern";
    -o-font-feature-settings:"liga", "kern";
    -webkit-font-feature-settings:"liga", "kern";
    font-feature-settings: "liga", "kern";

    /*ONLY USE IF USING DARK MODE background-color: rgb(23, 34, 58); */
}

d1 {
    font-size: 38px;
    font-stretch: normal;

    font-family: "roca", sans-serif;
    font-weight: 800;
    font-style: normal;
}

d2 {    
    font-size: 34px;
    font-stretch: normal;

    font-family: "roca", sans-serif;
    font-weight: 800;
    font-style: normal;
}

h1 {
    font-size: 31px;
    font-stretch: normal;

    font-family: "roca", sans-serif;
    font-weight: 800;
    font-style: normal;
    line-height: 1 !important;
    margin-bottom: 0 !important;
}

h2 {
    font-size: 24px;
    font-stretch: normal;

    font-family: "roca", sans-serif;
    font-weight: 800;
    font-style: normal;
}

h3 {
    font-size: 20px;
    font-stretch: normal;

    font-family: "roca", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h4 {
    font-size: 14px;
    font-stretch: normal;

    margin: 6px 0 6px 0;

    font-family: "roca", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h5 {
    font-size: 14px;
    font-family: "roca", sans-serif;
    font-weight: 700;
}

p {
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 18px;   
    font-family: "basic-sans", sans-serif;
    margin: 0 !important;
    /* font-family: "dolly-new", sans-serif; */
/* 
    font-family: "Lora", serif;
    font-optical-sizing: auto; */

    font-weight: 400;
    font-style: normal;
    line-height: 125%;
}

p2 {
    font-size: 14px;
    font-family: "basic-sans", sans-serif;
    /* font-family: "dolly-new", sans-serif; */
    font-weight: 400;
    font-style: normal;

}

strong {
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 700;
}

a {
    cursor: pointer;
}

p a:hover {
    text-decoration: underline;
}

ul {
    list-style-position: outside;
}

ul li {
    padding-top: 8px;
}

span p{
    display: inline;
}

icon {
    font-family: 'fa';
    font-size: 15px;
}


/* Header */
#nav_header {
    position: fixed;
    box-sizing: content-box;
    top: 0;
    width: 90vw;
    max-width: 1200px;
    height: 48px;
    margin-left: -99rem;
    padding-left: 99rem;
    margin-right: -99rem;
    padding-right: 99rem;
    /* overflow-x: hidden; */
    background-color: inherit;
    z-index: 100;
}

#nav_header a, #nav_header button{
    font-family: 'roca', sans-serif;
    font-size: 15px;
}

.header_ul {
    /* margin: 0; */
    padding: 0;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_ul li {
    display: inline;
    /* width: -webkit-fill-available; */
    flex: auto;
    padding-top: 0;
    text-align: center;
}

.header_ul a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.header_ul a:hover {
    text-decoration: underline;
    color: black;
}

.header_ul img {
    width: 12px;
}

.dropdown {
    height: inherit;
}

.prof_dropdown {
    background-color: inherit;
    font-family: inherit;
    margin: 18px 0 0 0;  
    cursor: default  !important; 
}

.prof_dropdown_content {
    display: none;
    opacity: 0;
    position: absolute;
    top: 48px;
    min-width: 150px;
    /* width: 27vw; */
    background-color: #F2E9E6;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 0px;
    z-index: 0;
    transition: all .3s ease, 300ms;
}

.prof_dropdown_content a {
    float: none;
    padding: 12px 16px;
    display: block;
    text-align: center;
}

.prof_dropdown_content a:hover {
    background:#d6cecb;
}

.dropdown:hover .prof_dropdown_content {
    display: block;
    overflow: visible !important;
    opacity: 100;

}

#nav_home {
    position: relative;
}

#nav_contact {
    position: relative;
    /* float: right;  */
    /* right: 24px;
    padding-right: 24px; */
}



/* Bio + Name */

#home_video {
    width: 100%;
    margin: auto;
    max-height: 500px;
    mix-blend-mode: multiply;
}

#ghost_canvas {
    width: 100%;
    /* max-width: 900px; */
    margin: auto;
    display: block;
}

.intro {
    max-width: 100%;
    min-width: 250px;
}



.intro img {
    white-space:nowrap;
    overflow: hidden;
    position: relative;
    top: 50px;
    max-width: 530px;
}

#intro-text {
    max-width: 900px;
    margin:auto;
}

.intro p2 {
    /* line-height: 1.5rem; */
    font-size: 1.25rem; 
}

/* Experience Section */

.experience {
    margin-top: 200px;
    background: #3a4b43;
    padding: 50px;
    border-radius: 71px;
}

.list {
    border-radius: 24px;
    overflow: auto;
    padding: 20px 0px;
}
/* This determines the sizing of the job list columns. */
.list .scroll-container {
    grid-template-columns: min-content 500px 0px min-content 500px 0px min-content 500px 0px min-content 500px 0px min-content 500px 0px min-content 500px 0px;
}

/* SCROLL BAR */
.list::-webkit-scrollbar-track {
    /* visibility: hidden; */
}

/* Scrollbar */
.list::-webkit-scrollbar {
    z-index: 2;
    height: 15px; 

  }

  ::-webkit-scrollbar-thumb {
    position: absolute;
    top: 204px;
    background: #9CC9B4;
    border-radius: 16px;
  }

  #scroll_track {      
    background: #9CC9B4;
    height: 2px;
    position: relative;
    bottom: 58px;
    margin: 0 50px 0 50px;
  }


/* Experience Grid */

.entry img {
    display: inline-block;
    width: 100px;
    z-index: 20;
}

.entry p {
    padding-bottom: 16px;
}

.entry h4 {
    /* padding-bottom: 2px; */
    margin-bottom: 14px;
}
.entry h3, .entry h4, .entry p, .entry h2, .entry h1 {
    color: #FFF;
}

.entry h2 {
    margin-bottom: 12px;
}

.entry h1 {
    margin-bottom: 12px;
}

.experience d1 {
    color: #FFF;
}

br .entry {
    height: 5px;
}

/* .list hr {      
    background-color:#FFF;
    height: 1px;
    margin-top: 60%;
  } */

#item {
    display: inline-block;
    width: 7px
}

#inlineblock {
    display: inline-block;
}

.scroll-container hr {
    border: 1px solid #FFF;
    border-top-width: 60px;
    height: 0px;
    margin: 50px auto;
    clear: both;
    width: 0px;
    position: relative;
    /* transform: rotate(90deg); */
}

.scroll-container hr:before {
    content: " ";
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 5px;
    border: 1px solid #FFF;
    background-color: red;
}

.scroll-container hr:before {
    left: 0;
    bottom: -3px;
    box-shadow: 400px 0 0 -1px #FFF, 400px 0 0 0 #FFF;
}


.scroll-container hr:after {
    content:url(http://lorempixel.com/50/50/cats/2);
    display: block;
    position: absolute;
    left:50%;
    height:50px;
    width:50px;
    margin:-25px 0 0 -25px;
    border-radius: 50px;
    /* overflow:hidden; */
    box-shadow: 0 0 0 1px #fff;
}

  /* Professional and Freelance Work Section */
.projects_section {
    border-radius: 71px;
    padding: 50px 50px 0px 50px;
    margin: 0 auto;
    
    max-width: 800px;
    min-height: min-content;
    z-index: -1;
    position: relative;
}

.fa {
    font-family: 'fa';
}

.fa-light {
    font-family: 'fa-light';
}

.projects_section p, .projects_section d1 {
    color: #FFF;

}

.projects_section p {
    padding: 24px 0px 2px 0px;
} 

.projects_section .button  {
    text-align: right;
    font-family: 'Graphik Web';
    font-weight: 500;
}

#testimony_section {
    margin: 144px auto 110px auto;
    max-width: 800px;
}

.testimony_container {
    width: 100%;
    max-width: 500px;
    padding-top: 24px;
    overflow: hidden;
    margin: 0 auto;
}

.testimony_items {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.testimony_item {
    /* min-width: 100%; */
    flex: 0 0 auto;
    width: 100%;
    box-sizing: border-box;
    /* padding: 24px; */
    margin: 0;  
    border-radius: 12px;
}

.testimony_item h2 {
    line-height: 1.1em;
}

#other_cool_stuff {
    /* bottom: 500px; */
}

#other_cool_stuff_cards {
    /* bottom: 1000px; */
}

br {
    height: 19px;
}

#professional_background {
    position:absolute;
    z-index: -1;
    /* background-color: #424a52; */
    background-color: #524e42;
    border-radius: 71px;
    height: 700px;
    width: 100%;
    margin: -50px 0px 16px -50px;
}

#other_stuff_background {
    position:absolute;
    z-index: -1;
    background-color: #524252;
    border-radius: 71px;
    height: 400px;
    width: 100%;
    margin: -50px 0px 16px -50px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 660px;
    position: relative;
    /* bottom: 500px; */
    margin: auto;
}

#cards_margin {
    margin-bottom: 100px;
}

.card {
    position: relative;
    right: 0px;
    width: 250px;
    height: 250px;
    border-radius: 12px;
    padding: 20px;
    margin: 20px 20px;
    transition: right 300ms ease, box-shadow 300ms ease;
    /* cursor: url('https://static.wixstatic.com/media/d86011_c58db44c692e4b7b91bbd8386fdc0a3d~mv2.png') 40 40, pointer; */
    cursor: pointer;
    overflow:hidden;
    flex-grow: 1;
}

.card:hover {
    right: 10px;
    box-shadow: 10px 0px 30px 0px rgba(0, 0, 0, 0.3);
}

.card h2 {
    padding-bottom: 20px;
}

.card p2 {
    line-height: 1.5rem;
}

.card img {
    width: 16px;
}

.card_disabled {
    position: relative;
    right: 20px;
    width: 250px;
    height: 250px;
    border-radius: 12px;
    padding: 20px;
    color: #fafafa;
    margin: 20px 20px;
}

.card_disabled h2 {
    padding-bottom: 20px;
}

#one {
    /* cursor: url('https://static.wixstatic.com/media/d86011_21017f45f11a48cfb89e9a22eace3c91~mv2.png') 40 40, pointer; */
}

#one:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    top: -50%;
    left: 0%;
    z-index: -1;
    background: url("/resources/assets/GradientRectangle5.png") 0 0 repeat;
    transform: rotate(0deg);

    transition: all 1s ease;
    scale: 1.55
  }

#one:hover:before {
    transform: rotate(30deg);
    animation: spin 10.0s linear normal infinite;
    scale: 2.1;

} 

#two {
    background-color: #8D1142;
}

#disabled {
    border: 3px solid rgb(196, 196, 196);
    color: black;
    background-color: #f0f0f0;
}

#three {

}

#three:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    top: -50%;
    left: 0%;
    z-index: -1;
    background: url("/resources/assets/GradientRectangle3.jpg") 0 0 repeat;
    transform: rotate(0deg);

    transition: all 1s ease;
    scale: 1.55
  }

#three:hover:before {
    transform: rotate(30deg);
    animation: spin 5.0s linear normal infinite;
    scale: 2.1;

}  

#four {

}


#four:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    top: -50%;
    left: 0%;
    z-index: -1;
    background: url("/resources/assets/GradientRectangle2.jpg") 0 0 repeat;
    transform: rotate(0deg);

    transition: all 1s ease;
    scale: 1.55
  }


  #four:hover:before {
    transform: rotate(30deg);
    animation: spin 5.0s linear normal infinite;
    scale: 2.1;

  }

#five {
    width: 580px;
}

#five:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    top: -50%;
    left: 0%;
    z-index: -1;
    background: url("/resources/assets/GradientRectangle1.jpg") 0 0 no-repeat;
    transform: rotate(0deg);
    scale: 2.1;
  }


  #five:hover:before {
    /* transform: rotate(30deg); */
    animation: spin 5.0s linear normal infinite;
  }  


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.card .button {
    position: absolute;
    bottom: 16px;
    text-align: right;
    vertical-align: text-bottom;
}

.clipped {
    clip-path: inset(50px 50px 50px 50px);
    width:370px;
    height: 370px;
}

.card_text {
    position: relative;
    bottom:250px;
    width: 250px;
    left: 70px;
}

/* Footer */
.footer {
    height: 144px;
}

/* Navigation */

nav {
    line-height: normal;
}
#navOneOptions li, #navOneOptions a{
    list-style: none;
    text-decoration: none;
}

#navTwoOptions {
    max-width: 100px;

}

#navTwoOptions li, #navTwoOptions a{
    list-style: none;
    text-decoration: none;
}

.nav_button {
    position: relative;
}

.nav_button button {
    background-color: transparent;
    cursor: pointer;
    position: relative;
    text-align: left;
}

.nav_button img {
    margin-left: 5px;
    position: relative;
    bottom: 4px;
}

.nav_button a d2 {
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 8px 0px;
    font-size: 31px;
    line-height: 3rem;
}

.nav_button a d1 {
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 8px 0px;
    font-size: 38px;
    line-height: 3rem;
}

.nav_button ul {
    /* width: max-content; */
    padding: 8px 16px;
    background-color: #fff;
    box-shadow:0px 0px 15px 0px #888;
    margin-left: 150px; 

    transition: all .3s ease;
    position: fixed;
    opacity: 0;
    z-index: -1;
    transform: translateY(-10px);
}

/* .nav_button button:focus + ul {
    opacity: 1;
    z-index: 1;
    transform: translateY(0px);
} */


/* Freelance Page */
#freelance {
    position: relative;
    bottom: 100px;
}

#films {
    padding-top: 48px;
}

.posters {
    margin: auto;
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    justify-items: center;
    max-width: 1500px;
}

.posters img {
    width: 440px;
    padding: 24px;
}

.album {
    width: 100%;
}

.album img{
    display: block;
    margin: 0 auto;
    max-width: 800px;
}

/* Animations page */

.row p {
    margin: 0 0 2rem 0 !important;
}

.gallery {
    /* align-items: center; */
}

.gallery_margin {
    margin: 5rem 0;
}

.gallery_margin p {
    padding-top: 1rem;
}

.gallery-img {
    width: 100%;
}

.vid-img {
    padding:56.25% 0 0 0;
    position:relative;
    height: 0;
}

.iframe-img {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#canvas {
    width: 100%;
}

#center_success {
    margin: 50% 0 0 0;
}

/* Professional Work */
#visual_media_header {
    margin-bottom: 48px;
}

.brief {
    margin-top: 108px;

    padding: 48px;
    border-radius: 12px;
    background-color: #3a4b43;
}

.project_label {
    padding-top: 24px;
    font-family: "roca", sans-serif;
    font-style: normal;
    color: #FFF;
    /* text-transform: uppercase; */
    /* color: #686868; */
}

.brief p, .brief h3, .brief d1 {
    color: #FFF;
}
.professional_section {
    margin: 144px 0;
    position: relative;

}

.professional_section img {
    width: 100%;
    /* margin: 24px 0; */
}



.project_paragraph {
    max-width: 800px;
    margin: 0 auto;
    
}

.scroll-container {
    display: grid;
    width: 100%;
    grid-gap: 24px;
}


/* .btn {
   position: relative;
   bottom: 410px;
   height: 55px;
   width: 55px;
   line-height: 55px;;
   border-radius: 27.5px;
   background-color:#6483E6;
   z-index: 1;
   text-align: center;
   color: white;
   font-family: 'fa';
   opacity: 80%;
   vertical-align: middle;
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
   transition: all 0.25s ease;
} */

.relative {
    position: relative;
    /* width: 100%; */
}

/* .relative img {
    max-height: 800px;
    width: auto;
    margin: 0 auto;
} */

.relative button {
    position: absolute;
    z-index: 1;
    bottom: 0%;
    height: 100%;
    max-width: 150px;
    width: 20%;
    transition: all 0.25s ease;
    cursor: auto;
    opacity: 0;
}

.inner_shadow {
    display: block;
    margin: 20px auto;
    position: relative;
    width:fit-content;
    box-shadow: inset 0px 0px 2px 1px #00000020;
    border: 12px solid #ffffff;
    border-radius: 30px;
}

.siema1 img {
    z-index: -2;
    height: 500px;
    /* width: auto; */
    position: relative;
    box-shadow: 0px 0px 15px 0px #00000040;
    margin: 0 auto -4px auto;
}

.siema1 img, .siema4 img {
    width: 90%;
    height: fit-content;
    margin: 20px auto;
    box-shadow: 0px 0px 15px 0px #00000040;
    border-radius: 7px;
    display: block;
}

.image_project img{
    border-radius: 7px;
    margin: 20px auto;
    max-height: 500px;
    width: auto;
    max-width: 100%;
    display:block;
    box-shadow: 0px 0px 15px 0px #00000040;

}

/* Added because of broken iOS */
.siema2 img {
    /* max-height: 500px; */
    /* width: fit-content; */
    /* max-width: 100%; */

    width: 90%;
    height: auto;
    /* max-height: fit-content; */
    margin: 20px auto;
    box-shadow: 0px 0px 15px 0px #00000040;
    border-radius: 7px;
    display: block;
}

.siema3 img{
    max-height: 500px;
    width: fit-content;
    max-width: 100%;

    margin: 20px auto;
    display: block;
    box-shadow: 0px 0px 15px 0px #00000040;
    border-radius: 7px;
}

#ed_siema1 img{
    width: auto;
    margin: 0;
    max-height: 600px;
}

#ed_siema2 img, #ed_siema3 img{
    box-shadow: none;
}

#service_design {
    max-height: 400px;
}

/* .slide {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: #383838;
    margin: 0px 5px;
    padding: 3px 20px;
    font-size: 0px;
    opacity: 0.25;
} */

.slide_wrapper {
    margin: 0 auto;
    width: min-content;
}

.next1, .next2, .next3, .next4 {
    float: right;
    right: 0px;
}

.arrow {
    position: absolute;
    width: 50px !important;
    height: auto;
    top: 50%;
    z-index: 2;
    cursor: pointer;
}

.arrow_left, .arrow_left2{
    left: 24px;
}

.arrow_left:hover, .arrow_left2:hover {
    animation: arrow_left 0.50s ease-in-out alternate infinite;
}

@keyframes arrow_left {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-8px);
    }
}

.arrow_right, .arrow_right2 {
    right: 24px;
}

.arrow_right:hover, .arrow_right2:hover {
    animation: arrow_right 0.50s ease-in-out alternate infinite;
}

@keyframes arrow_right {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(8px);
    }
}



/*Thrivent Page*/

.intro_video {
    margin: 144px 0em 0px;
}

.text_image_background {
    padding: 40px;
    border-radius: 12px;
    /* background-color: #7C4BEF; */
    background: url("/resources/assets/GradientRectangle1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.intro_video d2, .intro_video p {
    /* color: #fff; */
}


.text_image_container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    /* justify-content: space-between; */
    height:min-content;
}

.paragraph_container {
    flex-grow: 1;
    max-width: 400px;
}

@media only screen and (max-width: 771px) {

    .initialtask_topline img {
        height: 350px;
    }
    .vid_container.mobile_swap{
        order: 1;
    }
    .paragraph_container {
        max-width: 100%;
    }
}

.vid_container {
    flex-grow: 1;
    /* min-width: 300px; */
    overflow: hidden;
    border-radius: 6px;
    /* box-shadow: 0px 0px 20px -5px rgb(141, 141, 141); */
    box-shadow: 0px 0px 25px 0px #00000014;

}

.vid_container2 {
    position: relative;
    /* width: 100%; */
    padding-top: 56.25%;
    
}

.intro_video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.vid_container2 img {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
width: 100%;
}

.thrivent_section {
    margin-top: 48px;
}

.initialtask_container {
    padding: 80px 0px;
    margin: 96px auto;
    /* width: fit-content; */
}


.initialtask_topline {
    position:relative;
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 7px;
    width:fit-content;
    margin: 0 auto;
    box-shadow: 0px 0px 25px 0px #00000014;
    z-index: 1;
    /* height: 200px; */
}

.initialtask_topline img {
    /* width: 100%;
    height: 300px; */
}


#initialtask_question {
    width: fit-content;
    animation: question 2.0s ease-in-out alternate infinite;
    position: relative;
    margin: auto;
}

#initialtask_question p {
    text-wrap: wrap;
    position: absolute;
    top: 30%;
    left: 5%;
}

#initialtask_question img {
    width: 400px;
}

@keyframes question {
    0% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}

/* Research section */

.research_slides {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
    align-content: stretch;
}

.research_slide {
    width: 350px;
    display: block;
}
.research_slide > * {
    margin: 24px 0;
}

.filler_image {
    width: 350px;
    height: 250px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 0px 25px 0px #00000014;

}
.filler_image img {
    height: 100%;
    width: auto;
    aspect-ratio: 16/9;
}

.bullet_wrapper {
    padding-left: 10%;
    padding-top: 8px;
}

/* Solution */

.question_wrapper {
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.04));
  }

.question {
	height: 0px;
    z-index: 1;
    position: relative;
    width: 250px;
    display: block;
    /* background-color: #D9D9D9; */

    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.question p {
    padding: 24px 0;
    text-align: center;
    width: 90%;
    margin: 0 auto !important;
}

#question1 {
    border-bottom: 100px solid #fff;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
    /* bottom: 32px; */
}

.solution_feature {
    z-index: 1;
    position: relative;
    width: 250px;
    display: block;
}

#solution_wrapper {
    position: relative;
    top: -12px;
    /* width: 90vw; */
}

.centered_text {
    text-align: center;
}

.centered_text p2 {
    color:#686868;
}

.example_set {
    position: relative;
    padding-bottom: 0px;
}

.example {
    text-align: center;
    width: 70%;
    padding-top: 24px;
}

.example_img_wrapper {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    overflow: hidden;
    box-shadow: 0px 0px 20px -5px rgb(141, 141, 141);
    margin-top: 8px;
    border-radius: 6px;
}

.example img {
    height: 100%;
    width: auto;
}

.before {
    position: relative;
    z-index: 1;
}

#before1 {
    position: relative;
}

.after {
    position:absolute;
    z-index: 0;
    top: 0;
    bottom: 0px;
    rotate: 17deg;
    right: -20%;
    scale: 40%;
}

.example_text {
    max-width: 500px;
    padding-top: 16px;
    transition: all .25s ease .25s;
}

.after_text {
    float: right;
    display: none;
    opacity: 0;
    text-align: end;
    padding-bottom: 80px;
}

@media only screen and (max-width: 537px) {
    .example {
        text-align: center;
        width: 100%;
        padding-top: 24px;
    }
    
    .centered_text p2{
        display: none;
    }

    .example_img_wrapper {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        overflow: hidden;
        box-shadow: 0px 0px 20px -5px rgb(141, 141, 141);
        margin-top: 8px;
        border-radius: 6px;
    }

    .example img {
        height: 100%;
        width: auto;
    }

    .before {
        position: relative;
        z-index: 1;
        rotate: 0deg !important;
        scale: 1 !important;
        right: 0 !important;
        
    }

    #before1 {
        position: relative;
    }

    .after {
        position:relative !important;
        z-index: 0 !important;
        top: 0 !important;
        bottom: 0px !important;
        rotate: 0deg !important;
        right: 0% !important;
        scale: 100% !important;
    }

    .example_text {
        max-width: 500px;
        padding-top: 16px;
        transition: all .25s ease .25s;
    }

    .after_text, .before_text {
        float: right !important;
        display:block !important;
        opacity: 100 !important;
        text-align: start !important;
        padding-bottom: 80px !important;
    }
}

@media only screen and (max-width: 757px) {


    .cards {
        position: relative;
        margin-left: 0px;
    }

    .siema1 img, .siema2 img, .siema3 img, .siema4 img {
        box-shadow: none;
    }

    .siema1 img{
        max-height: 500px;
    }

    .image_project img {
        box-shadow: none;
    }
}


@media only screen and (max-width: 767px) {
    #center_success {
        margin: 0;
    }
}

@media only screen and (max-width: 707px) {
    #professional_background {
        height: 1080px;
    }

    #testimony_right {
        right: 0px;
    }

    #testimony_left  {
        left: 0px;
    }

    .testimony_container {
        width: calc(100% - 124px);
    }

    .testimony_item h2 {
        font-size: 20px;
        font-weight: 600;
    }
}

@media only screen and (max-width: 700px) {
    #initialtask_question {
        left:0%;
    }


}


@media only screen and (max-width: 500px) {
    #other_stuff_background {
        height:500px;
        }
}

@media only screen and (max-width: 430px) {
    .experience {
        border-radius: 0;
        margin: 200px -24px 0 -24px;
        padding: 16px;
    }    

    .list .scroll-container {
        grid-template-columns: min-content 90% 0px min-content 90% 0px min-content 90% 0px min-content 90% 0px min-content 90% 0px min-content 90% 0px;
        gap: 8px;
    }

    #scroll_track {
        bottom: 24px;
        margin: 0 16px 0 16px;
    }

    .list p {
        font-size: 14px;
    }


    .nav_button ul {
        margin-left: 0px;
    }

    #professional_background {
        border-radius: 0px;
        /* padding: 50px 24px 0px 24px; */
        margin: -50px -24px 0px -24px;
        height: 1050px;
    }

    #other_stuff_background {
        border-radius: 0px;
        /* padding: 50px 24px 0px 24px; */
        margin: -50px -24px 0px -24px;
        height: 400px;
    }
    .projects_section {
        border-radius: 0px;
        padding: 50px 24px 0px 24px;
        margin: 200px -24px 0px -24px;
        position: relative;
    }

    .text_image_background {
        /* border-radius: 0; */
    }

    #initialtask_question img {
        width: 300px;
    }


}


/* Thrivent results section */
.results_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.result {
    flex: auto;
    margin:0 auto;
    max-width: 220px;

    background-color: #FFF;
    padding: 24px;
    box-shadow: 0px 0px 25px 0px #00000014;
    border-radius: 6px;;
}

.result d1 {
    font-size: 90px;
}

.result h3 {
    position: relative;

    bottom: 16px;
}

#ces_result d1, #ces_result h2 {
    display: inline;
}

/*Screen Size*/
@media only screen and (max-width: 578px) {
    .intro img {
        max-width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .posters {
        grid: 1fr / 1fr;
    }
    
    .posters img {
        width: 100%;
    }

    .album img {
        width: 100%;
    }
}

@media only screen and (max-width: 936px) {
    .intro d2 {
        position: relative;
        top: 50px;
    }
}

  /* Fonts */
@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik Web';
    src: url('../assets/Graphik_web/Graphik-Bold-Web.eot');
    src: url('../assets/Graphik_web/Graphik-Bold-Web.eot?#iefix') format('embedded-opentype'),
    url('../assets/Graphik_web/Graphik-Bold-Web.woff2') format('woff2'),
    url('../assets/Graphik_web/Graphik-Bold-Web.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik Web';
    src: url('../assets/Graphik_web/Graphik-Medium-Web.eot');
    src: url('../assets/Graphik_web/Graphik-Medium-Web.eot?#iefix') format('embedded-opentype'),
    url('../assets/Graphik_web/Graphik-Medium-Web.woff2') format('woff2'),
    url('../assets/Graphik_web/Graphik-Medium-Web.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../assets/Graphik_web/Graphik-Regular-Web.eot');
    src: url('../assets/Graphik_web/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
    url('../assets/Graphik_web/Graphik-Regular-Web.woff2') format('woff2'),
    url('../assets/Graphik_web/Graphik-Regular-Web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik LC Web';
    src: url('../assets/Graphik_web/Graphik-RegularItalic-Web.eot');
    src: url('../assets/Graphik_web/Graphik-RegularItalic-Web.eot?#iefix') format('embedded-opentype'),
    url('../assets/Graphik_web/Graphik-RegularItalic-Web.woff2') format('woff2'),
    url('../assets/Graphik_web/Graphik-RegularItalic-Web.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'fa';
    src: url('../assets/fonts/Font-Awesome-5-Pro-Regular-400.otf')
}

@font-face {
    font-family: 'fa-light';
    src: url('../assets/fonts/Font-Awesome-5-Pro-Light-300.otf');
}